# MongoDB connection string
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/<dbname>?retryWrites=true&w=majority

# Secret key for JWT (JSON Web Token)
JWT_SECRET=your_super_secret_key_here
